.styling{
    height: 200px;
    width: 200px;
}

.hover:hover {
    background-color: #cceeff; /* Light blue background color on hover */
    border-color: #99c2ff; /* Light blue border color on hover */
  }