<app-header></app-header>
<router-outlet></router-outlet>
<div class="menu-content text-center">
  <a routerLink="./mobile"><img src="https://w7.pngwing.com/pngs/848/536/png-transparent-assorted-phone-lot-iphone-4s-deepak-mobiles-shopping-computer-software-smartphone-gadget-electronics-mobile-phone.png" alt="Mobile Image"></a>
  <a routerLink="./speaker"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT488SrzMrMJBLkQ5Mldn-QNH2RrxaeMmOvOufC69bC_8t0HVa5vrLfYZB81X0QD1YcvVg&usqp=CAU" alt="Mobile Image"></a>
  <a routerLink="./other"><img src="https://img.freepik.com/premium-photo/composition-featuring-collection-high-tech-gadgets-generative-ai_964405-172.jpg" alt="Mobile Image"></a>
</div>

<app-footer></app-footer>
