.colorful-list-item {
    background-color: #f0f9ff; /* Light blue background color */
    border-color: #cceeff; /* Light blue border color */
    color: #0066cc; /* Dark blue text color */
  }
  
  .colorful-list-item:hover {
    background-color: #cceeff; /* Light blue background color on hover */
    border-color: #99c2ff; /* Light blue border color on hover */
  }
  